.Header {
    width: 96vw;
    top: 4vh;
    height: 13vh;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .img {
        height: 100px;
        background-size: cover;
        justify-self: self-start;
        padding-left: 10vw;
        transform: rotate(0);
        transition: 500ms;
        animation-timing-function: ease-in-out;

        &:hover {
            transform: rotate(-5deg) scale(1.2);
            transition: 200ms;
            animation-timing-function: ease-in-out;
        }
    }
    .headerItem {
        text-align: center;
        font-size: 3.5vmin;
        font-weight: 400;
        box-sizing: border-box;

        font-family: "Amatic", cursive;

        text-decoration: none;
        color: black;

        padding-bottom: 1rem;
        margin: 2vmin;
        &:hover {
            border-bottom: 2px solid orange;
        }
        &:active {
            transform: translate(0, 6px);
            transition-duration: 100ms;
            border-bottom: 3px solid orange;
        }
    }
    .active {
        border-bottom: 3px solid orange;
    }
}
