.bus {
    left: 0;
    top: 0;
    height: 100vh;
    position: relative;

    min-width: 98vw;
    background-image: url("../../assets/images/6.jpg");
    box-sizing: border-box;
    background-size: cover;
    backface-visibility: hidden;
    background-position: 50% 40%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .title {
        position: absolute;
        display: inline-block;
        font-size: 15vmin;
        text-align-last: center;
        left: 50%;
        top: 14%;
        color: rgb(249, 166, 2);
        font-weight: 1000;
        transform: translate(-50%);

        font-family: "Amatic SC", cursive;
        font-weight: bold;
        animation-duration: 2.5s;
        animation-name: fromRighttWithRotateText;
        animation-timing-function: ease-out;
    }
}

@keyframes fromRighttWithRotateText {
    0% {
        transform: translate(5vw, -15vh);
    }

    30% {
        transform: rotate(-5deg);
    }
    50% {
        transform: translate(-400px, -5vh);
    }
    50% {
        transform: rotate(-1.5deg);
    }

    55% {
        transform: translate(-200px, 0);
    }
}
