* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
