* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
